.Game_container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../core/Images/background.jpg');
}
.zoom-effect {
    transform: scale(1);
}